.error {
  color: var(--bs-danger);
}

.success {
  color: var(--bs-success);
}

.warn {
  color: var(--bs-warning);
}

.dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 4px;
}
