.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  flex: 1;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.loading-app {
  height: 100vh;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

canvas {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
